.Container{
  position: fixed;
  height: 120vh;
  padding: 30px;
  width: 100%;
  bottom: 30px;
  overflow: scroll;
  >div{
    height: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .Container {
    position: fixed;
    height: 65vh;
    padding: 0px;
    top: 50px;
    width: 100%;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 700px) {
  .Container {
    width: 90%;
    height: 83vh;
    font-size: 13px;
    left: 180px;
    right: 80px;
    top: 11.7vh;
    margin-bottom: 100px;
  }
}